<div class="layout-row">
  <button onclick={{this.onButtonClear}}>Clear</button>
  <button onclick={{this.onButtonChoice1}}>Choice 1</button>
  <button onclick={{this.onButtonChoice2}}>Choice 2</button>
  <button onclick={{this.onButtonChoice3}}>Choice 3</button>
</div>
<div>
  <RPaperAutocomplete
    @sx={{this.acSX}}
    @options={{this.filterdOptions}}
    @placeholder="Please Select"
    @getOptionLabel={{this.optionsLabel}}
    @value={{this.optionValue}}
    @disableClearable={{true}}
    @readOnly={{true}}
    @onChange={{this.optionChanged}}>
  </RPaperAutocomplete>
</div>