<div>
  <RPaperTextField @label="Regular Input" @nativeOnChange={{true}} @onChange={{this.onRegularInputTextChangedNative}}/>
  <RPaperTextField  @class="special-class" @id="show-it" @name="greg" @label="Controlled Input" @value={{this.controlInputTextValue}} @onChange={{this.onControlInputTextChanged}}/>
</div>
<br/>

<div>
  <RPaperIMaskTextField @label="Regular IMask" @maskName="currencyNoDecimal" @onChange={{this.onRegularIMaskTextChanged}}/>
  <RPaperIMaskTextField  @label="Controlled IMask" @maskName="currencyNoDecimal" @value={{this.controlIMaskTextValue}} @onChange={{this.onControlIMaskTextChanged}}/>
</div>
<br/>
<div>
  <RPaperNumberFormatNumericTextField @label="Regular NMask" @maskName="currencyNoDecimal" @onChange={{this.onRegularNMaskTextChanged}}/>
  <RPaperNumberFormatNumericTextField  @label="Controlled NMask" @maskName="currencyNoDecimal" @clearOnFocus={{true}} @value={{this.controlNMaskTextValue}} @onChange={{this.onControlNMaskTextChanged}}/>
</div>
<br/>
<div>
  <RPaperNumberFormatNumericTextField @label="NF Percent Mask" @maskName="percentageWithDecimal"/>
  <RPaperIMaskTextField @label="I Mask Percentage"  @maskName="percentageWithDecimal"/>
</div>
<br/>
<div>
  <RPaperTextField @isTouched={{true}} @errors={{this.textFieldErrors}} @label="TextField Errors"/>
</div>
<br/>
<div>
  <RPaperNumberFormatNumericTextField @label="Default Non Select Value NMask" @inputProps={{this.inputModeInputProps}} @defaultValue={{0}} @maskName="currencyWithDecimal" @selectAllOnFocus={{false}} @onChange={{this.onDefaultValueNMaskTextChanged}}/>
</div>
<br/>
<div>
  <RPaperNumberFormatPatternTextField @label="Pattern NMask" @format="### ###" @value={{this.controlNMaskPatternValue}} @allowEmptyFormatting={{true}} @mask="_" @onChange={{this.onControlNMaskPatternValueChanged}}/>
</div>
<div>
  <RPaperTextField @inputProps={{this.inputModeInputProps}}/>
</div>
<br/>
<div>
  <RPaperIMaskTextField @label="Regular IMask" @maskName="currencyNoDecimal" @onChange={{this.onRegularIMaskTextChanged}}/>
  <RPaperIMaskTextField  @label="Controlled IMask" @maskName="currencyNoDecimal" @value={{this.controlIMaskTextValue}} @onChange={{this.onControlIMaskTextChanged}}/>
</div>