<div id="select-tests">
  <button onclick={{this.onAddOption}}>Add Option</button>
  <br/>
  <br/>
  <div>
    <RPaperSelect @multiple={{true}} @labelId="age-multi-select" @id="age-multi-select" @value={{this.multiAge}} @label="Age" @onChange={{this.onMultiAgeChange}}>
      <!--<:renderValue>
        Ages:
        {{#each this.multiAge as |age|}}
          {{age}},
        {{/each}}
      </:renderValue>-->
      <:default>
        {{#each this.multiAgeOptions as |option|}}
          <RPaperMenuItem @key={{option.age}} @value={{option.age}}>
            {{option.text}}
          </RPaperMenuItem>
        {{/each}}
      </:default>
    </RPaperSelect>
  </div>
  <div>
    <div>renderValue</div>
    actual: {{this.multiAge}}
    <div>---------------</div>
    <div>
      {{#each this.multiAge as |age|}}
        {{age}},
      {{/each}}
    </div>
  </div>
  <br/>
  <br/>
  <div>
    <RPaperSelect @displayEmpty={{true}} @labelId="age-select-label" @id="age-select" @value={{this.age}} @label="Age" @onChange={{this.onAgeChange}}>
      <!--<:renderValue>
        Your age is: {{this.age}}<RPaperIcon @reactIcon={{this.alarmIcon}} @color="primary"/>
      </:renderValue>-->
      <:default>
        {{#each this.options as |option|}}
          <RPaperMenuItem @value={{option.age}}>
            <RPaperIcon @id='my-react-icon' @reactIcon={{this.alarmIcon}} @color="primary"/>{{option.text}}
          </RPaperMenuItem>
        {{/each}}
      </:default>
    </RPaperSelect>
  </div>
  <div>
    Age: {{this.age}}
  </div>
  <br/>
  <!--<div>
    <RPaperSelect
      @value={{this.age2}}
      @onChange={{this.handleChange2}}
      @inputProps={{this.inputProps2}}
      @displayEmpty={{true}}
    >
      &lt;!&ndash;<:renderValue>
        <RPaperIcon @reactIcon={{this.alarmIcon}} @color="primary"/>{{this.age2}}<RPaperIcon @reactIcon={{this.alarmIcon}} @color="primary"/>
      </:renderValue>&ndash;&gt;
      <:default>
      <RPaperMenuItem value="">
        <em>None</em>
      </RPaperMenuItem>
      <RPaperMenuItem @value={{10}}><RPaperIcon @reactIcon={{this.alarmIcon}} @color="primary"/>Ten</RPaperMenuItem>
      <RPaperMenuItem @value={{20}}><RPaperIcon @reactIcon={{this.alarmIcon}} @color="primary"/>Twenty</RPaperMenuItem>
      <RPaperMenuItem @value={{30}}><RPaperIcon @reactIcon={{this.alarmIcon}} @color="primary"/>Thirty</RPaperMenuItem>
      </:default>
    </RPaperSelect>
    <br/>
    <div>
      Age2: {{this.age2}}
    </div>
  </div>-->
  <!--
  <div>
  <RPaperMenuItem @value={{10}}>
    <RPaperIcon @id='my-react-icon' @reactIcon={{this.alarmIcon}} @color="primary"/>Ten
  </RPaperMenuItem>
  </div>-->
</div>