
<div class='layout-row'>
  <div>One</div>
  <RPaperAutocomplete
    @sx={{this.acSX}}
    @options={{this.oneOptions}}
    @getOptionLabel={{this.optionsLabel}}
    @value={{this.oneOptionValue}}
    @disableClearable={{true}}
    @readOnly={{true}}
    @onChange={{this.oneOptionChanged}}>
  </RPaperAutocomplete>
</div>
<br>
<div class='layout-row'>
  <div>Two</div>
  <RPaperAutocomplete
    @sx={{this.acSX}}
    @options={{this.twoOptions}}
    @getOptionLabel={{this.optionsLabel}}
    @value={{this.twoOptionValue}}
    @disableClearable={{true}}
    @readOnly={{true}}
    @onChange={{this.twoOptionChanged}}>
  </RPaperAutocomplete>
</div>