<!--<div class="layout-row layout-align-center">
  <RPaperButton @class={{this.btnClass}} @color="primary" @variant={{this.variant}} @onClick={{this.onReactThemeBtnClicked}}>
    {{this.themeButtonText}}</RPaperButton>
  <div class="flex"></div>
  <div class="flex-33 layout-align-center layout-row">
    <RPaperCheckbox @indeterminate={{this.indeterminate}} @checked={{true}} @label="My Label" @labelPlacement="top" @color="secondary"/>
  </div>
</div>






<div id="notHereText">This should not be here</div>
<br/>
<RPaperAvatar>H</RPaperAvatar>


-->
<!---->

<!--

<!--<:avatar><RPaperAvatar>Y</RPaperAvatar></:avatar>-->
<!--<:action>My Action</:action>-->

<!--<br/>

<!--<RPaper @elevation={{24}} @square={{false}}>Here is My Paper</RPaper>-->


<!--
<RPaperButton @onClick={{this.onAddAvatar}}>Add Test Item</RPaperButton>
<br/>
<RPaperButton @onClick={{this.onRemoveAvatar}}>Remove Test Item</RPaperButton>
<br/><br/>
<div id="testBlock">Test Block</div>
<div>
  <div>Original Location</div>
  {{#each this.avatarContentList as |avatarContentItem|}}
    <RPaperTestMovability>{{avatarContentItem}}</RPaperTestMovability>
  {{/each}}
</div>
-->





